body {
  margin: 0;
}

.container {
  margin-top: 0;
  margin-left: 1em;
  margin-right: 1em;
}

.header {
  background: black;
  color: white;
  padding: 1em 0;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: lightgrey;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  border-radius: 5%;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.card button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: lightgrey;
}

.formContainer {
  display: flex;
  justify-content: center;
  border-top: 2px solid darkgray;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: grey;
  margin-top: 12px;
  width: 100%;
}

.form input {
  margin: 0 5px;
  flex-grow: 1;
}

.form p {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  text-decoration: underline;
  margin-bottom: 5px;
}

.form div {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-top: 5px;
}

.form div button {
  cursor: pointer;
  border: none;
  background-color: gray;
  font-size: 30px;
  color: white;
}

.formbtn {
  margin-bottom: 10px;
}
